global {
  wan_interface: auto
  log_level: info
  allow_insecure: false
  auto_config_kernel_parameter: true
}

node {
  {% if dae_nodes is defined %}
  {% for node in dae_nodes %}
  '{{ node }}'
  {% endfor %}
  {% endif %}
}

dns {
  upstream {
    alidns: 'udp://223.5.5.5:53'
  }
  routing {
    request {
      fallback: alidns
    }
  }
}

group {
    proxy {
        filter: name(regex: '.*') 
        policy: min_moving_avg
    }
}

routing {
  pname(NetworkManager) -> direct
  pname(sshd) -> direct
  
  dip(224.0.0.0/4, 255.255.255.255) -> direct

  domain(taifungbank.com) -> direct
  domain(epark-mo.com) -> direct
  domain(mnetwork.center) -> direct
  domain(ipinfo.io) -> direct

  domain(geosite:cn) -> direct
  dip(geoip:cn) -> direct
  dip(geoip:private) -> direct

  fallback: proxy
}
