app-editors/neovim ~amd64
app-shells/zoxide ~amd64
dev-libs/tree-sitter-lua ~amd64
dev-libs/tree-sitter-markdown ~amd64
dev-libs/tree-sitter-query ~amd64
dev-libs/tree-sitter-vim ~amd64
dev-libs/tree-sitter-vimdoc ~amd64
dev-util/wakatime-cli ~amd64
dev-vcs/lazygit ~amd64
net-vpn/tailscale ~amd64
