# fcitx
app-i18n/fcitx ~amd64
app-i18n/fcitx-configtool ~amd64
app-i18n/fcitx-gtk ~amd64
app-i18n/fcitx-qt ~amd64
app-i18n/fcitx-rime ~amd64

app-office/obsidian ~amd64

dev-util/android-studio ~amd64
dev-util/android-sdk-cmdline-tools ~amd64

gui-apps/wlogout ~amd64
gui-apps/tuigreet ~amd64

# hyprland
gui-apps/hypridle ~amd64
gui-apps/hyprlock ~amd64
gui-apps/hyprland-plugins ~amd64
gui-apps/hyprpaper ~amd64
gui-apps/hyprpicker ~amd64
gui-apps/hyprshot ~amd64
dev-cpp/sdbus-c++ ~amd64
dev-libs/hyprlang ~amd64
dev-libs/hyprgraphics ~amd64
dev-util/idea-community ~amd64
gui-libs/hyprcursor ~amd64
gui-libs/hyprutils ~amd64
gui-libs/xdg-desktop-portal-hyprland ~amd64
gui-wm/hyprland ~amd64
gui-wm/hyprland-contrib ~amd64

virtual/v2ray-geoip ~amd64
virtual/v2ray-domain-list-community ~amd64

kde-frameworks/kguiaddons ~amd64

dev-libs/hyprland-protocols ~amd64
dev-util/hyprwayland-scanner ~amd64
