sys-firmware/nvidia-firmware ~amd64
media-video/amdgpu-pro-amf ~amd64
media-libs/nvidia-vaapi-driver ~amd64

sys-kernel/dkms ~amd64
sys-power/tlp ~amd64

sys-devel/gcc ~amd64

kde-frameworks/extra-cmake-modules ~amd64
gui-libs/aquamarine ~amd64
