@import 'mocha.css';

* {
  font-family: JetBrains Mono Nerd Font;
  min-height: 14px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
}

window#waybar {
  border-radius: 6px;
  padding: 2px;
  box-shadow: none;
}

#window {
  color: @text;
  background: @raisin-black;
  padding: 6px;
  margin: 0px 2px;
}


#network {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #81A1C1;
}

/* Pulseaudio */
#pulseaudio {
  background-color: @raisin-black;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #A3BE8C;
}

/* Backlight */
d3d3d3 #backlight {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #F4B6C2;
}

/* Clock */
#clock {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #A3BE8C;
}

/* Memory */
#memory {
  color: @beige;
  padding: 0px 15px 0px 8px;
  background: @raisin-black;
  margin-right: 1px;
  border-radius: 0 6px 6px 0;
}

/* CPU */
#cpu {
  color: @beige;
  padding: 0px 8px 0px 15px;
  background: @raisin-black;
  margin-left: 2px;
  border-radius: 6px 0 0 6px;
}

/* Disk */
#disk {
  color: @beige;
  padding: 0px 8px 0px 15px;
  background: @raisin-black;
  margin-left: 2px;
  border-radius: 6px;
}

/* Tray */
#tray {
  margin-left: 8px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: none;
}

/* General Styling */
tooltip,
menu,
#workspaces,
#clock,
#wireplumber,
#backlight,
#bluetooth,
#network,
#battery,
#custom-power {
  background: @raisin-black;
  padding: 7px 8px;
  margin: 0;
  border-radius: 6px;
}

#clock {
  padding: 0 15px;
  color: @beige;
  border-radius: 6px;
}

#backlight {
  padding: 0 8px;
  margin: 0 1px;
  color: @beige;
  border-radius: 6px 6px;
}

#bluetooth,
#network {
  color: #cba6f7;
  border-radius: 6px;
  margin: 0 1px;
}

@import url('./style/battery.css');
@import url('./style/custom.css');
@import url('./style/hyprland.css');

@keyframes blink {
  to {
    color: #d20f39;
    /* Red */
    background: #eff1f5;
    /* Text */
  }
}
