app-editors/neovim ~amd64
app-shells/zoxide ~amd64
dev-lang/rust-bin ~amd64
dev-libs/libutf8proc ~amd64
dev-libs/tree-sitter ~amd64
dev-libs/tree-sitter-lua ~amd64
dev-libs/tree-sitter-markdown ~amd64
dev-libs/tree-sitter-query ~amd64
dev-libs/tree-sitter-vim ~amd64
dev-libs/tree-sitter-vimdoc ~amd64
dev-lua/luv ~amd64
dev-util/wakatime-cli ~amd64
dev-vcs/lazygit ~amd64
net-vpn/tailscale ~amd64
virtual/rust ~amd64
sys-fs/gdu ~amd64
sys-process/procs ~amd64
app-misc/yazi ~amd64
dev-build/meson ~amd64
app-text/cmark-gfm ~amd64
kde-plasma/layer-shell-qt ~amd64
