# fcitx
app-i18n/fcitx ~amd64
app-i18n/fcitx-configtool ~amd64
app-i18n/fcitx-gtk ~amd64
app-i18n/fcitx-qt ~amd64
app-i18n/fcitx-rime ~amd64
app-i18n/rime-data

dev-util/android-studio ~amd64
dev-util/android-sdk-cmdline-tools ~amd64

gui-apps/wlogout ~amd64
gui-apps/tuigreet ~amd64

# hyprland
gui-apps/hypridle ~amd64
gui-apps/hyprlock ~amd64
gui-apps/hyprland-plugins ~amd64
gui-apps/hyprpicker ~amd64
gui-apps/hyprshot ~amd64
gui-apps/swaync ~amd64
gui-apps/swww ~amd64
dev-cpp/sdbus-c++ ~amd64
dev-libs/hyprgraphics ~amd64
dev-libs/hyprlang ~amd64
gui-libs/hyprcursor ~amd64
gui-libs/hyprutils ~amd64
gui-libs/hyprland-qtutils ~amd64
gui-libs/xdg-desktop-portal-hyprland ~amd64
gui-wm/hyprland ~amd64
gui-wm/hyprland-contrib ~amd64
dev-cpp/glaze ~amd64
dev-libs/wayland-protocols ~amd64
gui-libs/hyprland-qt-support ~amd64
kde-frameworks/qqc2-desktop-style ~amd64
kde-frameworks/kcolorscheme ~amd64
kde-frameworks/kconfig ~amd64
kde-frameworks/kiconthemes ~amd64
kde-frameworks/kirigami ~amd64
kde-frameworks/sonnet ~amd64
kde-frameworks/breeze-icons ~amd64
kde-frameworks/karchive ~amd64
kde-frameworks/ki18n ~amd64
kde-frameworks/kwidgetsaddons ~amd64

kde-frameworks/kguiaddons ~amd64
kde-frameworks/kcoreaddons ~amd64

dev-libs/hyprland-protocols ~amd64
dev-util/hyprwayland-scanner ~amd64

x11-terms/alacritty ~amd64

app-office/obsidian

media-fonts/nerd-fonts ~amd64
media-fonts/nerdfonts ~amd64

x11-themes/materia-theme ~amd64
app-misc/nwg-look ~amd64
x11-apps/xcur2png ~amd64
x11-themes/apple-cursor ~amd64

media-fonts/source-han-serif ~amd64

net-misc/rustdesk ~amd64

dev-libs/granite ~amd64
