#custom-launcher {
  font-size: 16px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 10px;
  transition: none;
  color: #a7a8e9;
  background: #2E3440;
}

#custom-launcher:hover {
  background: #3B4252;
  color: #F4B6C2;
  text-shadow: 0 0 5px rgba(230, 162, 175, 0.7);
}

#custom-launcher:focus {
  border: 2px solid #A3BE8C;
  color: #A3BE8C;
  background: #434C5E;
}

#custom-wallpaper {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
}
