#workspaces {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(44, 45, 58, 0.6) 0%, rgba(44, 45, 58, 0.8) 100%);
  transition: none;
}

#workspaces button {
  transition: none;
  color: #B5E8E0;
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: #E8A2AF;
  border-bottom: 2px solid #B5E8E0;
}

/* Hover effect for workspace button */
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: #E8A2AF;
  color: #E8A2AF;
}

/* Active workspace button on hover */
#workspaces button.active:hover {
  color: #E8A2AF;
}

/* Window container styles */
#window {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #B5E8E0;
}

#workspaces button:hover,
#workspaces button.active:hover {
  text-shadow: 0 0 5px rgba(230, 162, 175, 0.7);
}
