>=virtual/rust-1.82.0
>=dev-lang/rust-bin-1.82.0
>=net-fs/samba-4.19.6
<dev-lang/rust-1.80
kde-frameworks/kguiaddons
kde-frameworks/kcoreaddons
kde-frameworks/kwindowsystem
kde-frameworks/kwidgetsaddons
kde-frameworks/kitemviews
kde-frameworks/kf-env
kde-frameworks/extra-cmake-modules
kde-frameworks/qqc2-desktop-style
kde-frameworks/kcolorscheme
kde-frameworks/kconfig
kde-frameworks/kiconthemes
kde-frameworks/kirigami
kde-frameworks/sonnet
kde-frameworks/breeze-icons
kde-frameworks/karchive
kde-frameworks/ki18n
kde-plasma/layer-shell-qt
