* {
  background: transparent;
  border: none;
  border-radius: 10px;
  color: #B5E8E0;
  min-height: 10px;
}

window#waybar {
  padding: 5px;
}

.modules-right {
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  background: linear-gradient(to top, rgba(44, 45, 58, 0.6) 0%, rgba(44, 45, 58, 0.8) 100%);
}

@import url('./style/battery.css');
@import url('./style/custom.css');
@import url('./style/hyprland.css');

#network {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #81A1C1;
}

/* Pulseaudio */
#pulseaudio {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #A3BE8C;
}

/* Backlight */
d3d3d3 #backlight {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #F4B6C2;
}

/* Clock */
#clock {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #A3BE8C;
}

/* Memory */
#memory {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #88C0D0;
}

/* CPU */
#cpu {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #81A1C1;
}

/* Disk */
#disk {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #F4B6C2;
}

/* Tray */
#tray {
  margin-left: 8px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: none;
  color: #B5E8E0;
  background: #161320;
}

/* Animation for blinking elements */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
