# required by media-sound/pulseaudio-daemon-17.0-r1::gentoo[alsa,alsa-plugin]
# required by media-libs/libpulse-17.0::gentoo
# required by media-video/ffmpeg-6.1.1-r5::gentoo[pulseaudio]
# required by media-video/ffmpeg (argument)
>=media-plugins/alsa-plugins-1.2.7.1-r1 pulseaudio

dev-lang/fennel LUA_SINGLE_TARGET: luajit

media-video/ffmpeg -X amf amr amrenc bluray bs2b bzip2 cdio chromaprint chromium codec2 cpudetection cuda fdk flite fontconfig fribidi gcrypt gme gmp gsm hardcoded-tables iec61883 ieee1394 jack jpeg2k jpegxl kvazaar ladspa libaom libaribb24 libass libcaca libdrm libilbc libplacebo librtmp libsoxr libtesseract libv4l libxml2 lv2 lzma modplug nvenc openal opencl openh264 openssl opus oss pulseaudio rav1e rubberband samba shaderc snappy sndio soc speex srt ssh static-libs svt-av1 theora twolame v4l vaapi vdpau vidstab vpx webp x265 zeromq zimg zvbi
