*/* CPU_FLAGS_X86: aes avx avx2 f16c fma3 mmx mmxext pclmul popcnt rdrand sha sse sse2 sse3 sse4_1 sse4_2 sse4a ssse3 vpclmulqdq
x11-drivers/nvidia-drivers wayland
# required by sys-kernel/gentoo-kernel-6.6.21::gentoo[initramfs]
# required by virtual/dist-kernel-6.6.21::gentoo
>=sys-kernel/installkernel-28 dracut

media-libs/gst-plugins-bad -X wayland vaapi
media-libs/gst-plugins-base -X wayland

app-crypt/pinentry -qt5 -qt6 curses
# required by gui-apps/swaync-0.10.1-r1::guru
# required by swaync (argument)
>=gui-libs/gtk-layer-shell-0.8.2 vala introspection

x11-drivers/nvidia-drivers dist-kernel
